html, body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #666; }

em, i {
  font-style: normal; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    padding: 0;
    margin: 0;
    list-style: none; }

img {
  border: none;
  max-width: 100%;
  margin: auto; }

.pr {
  position: relative; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.vm {
  /*display: inline-block;*/
  vertical-align: middle;
  position: relative; }
  .vm:before {
    content: '';
    height: 100%;
    width: 0;
    font-size: 0;
    margin: 0;
    vertical-align: middle;
    display: inline-block; }
  .vm > * {
    vertical-align: middle; }

body {
  background-color: #fff; }

.clear {
  *zoom: 1; }
  .clear:after {
    content: '';
    display: table;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0; }

.head-nav {
  height: 122px;
  background-color: #161312; }
  .head-nav .logo {
    /*float: left;*/
    display: inline-block;
    margin: auto 40px; }
  .head-nav .nav-list {
    /*float: left;*/
    height: 100%;
    display: inline-block;
    font-size: 0; }
    .head-nav .nav-list ul {
      height: 100%; }
    .head-nav .nav-list li {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      line-height: 122px;
      padding: 0 29px; }
    .head-nav .nav-list a {
      color: #ccc;
      font-size: 16px;
      line-height: 1;
      text-align: center; }
    .head-nav .nav-list li.active a {
      color: #fff; }
  .head-nav .info {
    float: right;
    font-size: 0;
    color: #fff;
    height: 122px;
    /*width: 340px;*/ }
    .head-nav .info .vm {
      display: block;
      height: 100%;
      line-height: 1; }
    .head-nav .info .locate {
      font-size: 12px;
      line-height: 1; }
    .head-nav .info .line, .head-nav .info .city, .head-nav .info .login {
      font-size: 14px;
      line-height: 1; }
    .head-nav .info .line {
      margin: 0 8px; }
    .head-nav .info .login {
      height: 32px;
      line-height: 32px;
      width: 130px;
      border: 1px solid #4e4d4d;
      color: #999;
      text-align: center;
      display: inline-block;
      margin: 0 30px 0 25px; }

.banners {
  position: relative; }
  .banners .pics li, .banners .pics img {
    display: block; }
  .banners .nav {
    position: absolute;
    top: 50%;
    width: 52px;
    height: 100px;
    margin-top: -50px;
    opacity: 0.8;
    background-color: #161312;
    line-height: 100px;
    text-align: center;
    display: block; }
    .banners .nav.left {
      left: 30px; }
    .banners .nav.right {
      right: 30px; }
  .banners .pager {
    background-color: #161312;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 0;
    padding: 9px 15px; }
    .banners .pager li {
      display: inline-block;
      background-color: #fff;
      width: 9px;
      height: 9px;
      margin: 0 5px;
      border-radius: 50%; }
      .banners .pager li.current {
        background-color: #fabe00; }

.center-title {
  padding-top: 72px;
  text-align: center; }
  .center-title h2, .center-title h4 {
    font-weight: 400;
    margin: 0;
    color: #221815;
    line-height: 1; }
  .center-title h2 {
    margin-bottom: 36px;
    font-size: 36px; }
  .center-title h4 {
    font-size: 16px;
    margin-bottom: 36px; }

.changjing {
  position: relative;
  font-size: 0; }
  .changjing .pic {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    padding: 18px 27px; }
    .changjing .pic img {
      /*margin: 27px 18px;*/ }

.group {
  text-align: center; }

.smallbar {
  display: inline-block;
  font-size: 0; }
  .smallbar em {
    color: #221815; }
  .smallbar .left, .smallbar .right {
    border: 1px solid #161312;
    height: 30px;
    display: inline-block; }
  .smallbar .left {
    border-right: none;
    padding: 0 22px; }
    .smallbar .left em {
      font-size: 18px; }
  .smallbar .right {
    padding: 0 10px; }
    .smallbar .right em {
      font-size: 16px;
      margin-right: 15px; }
  .smallbar.mid .left, .smallbar.mid .right {
    height: 69px;
    line-height: 69px; }

.changjing2 {
  max-width: 1494px; }
  .changjing2 .mains, .changjing2 .subs {
    font-size: 0; }
    .changjing2 .mains li, .changjing2 .subs li {
      display: inline-block; }
  .changjing2 .mains li {
    width: 33.3333333%; }
  .changjing2 .subs li {
    width: 16.666666666%; }

.products {
  font-size: 0; }
  .products li {
    display: inline-block;
    width: 25%; }
  .products a {
    display: inline-block; }
    .products a span {
      color: #221815;
      display: block;
      line-height: 1; }
    .products a .name {
      font-size: 16px; }
    .products a .price {
      font-size: 18px;
      margin: 14px auto; }
    .products a .service {
      font-size: 12px;
      padding-top: 15px;
      border-top: 1px solid #161312;
      max-width: 182px;
      margin: auto; }

.item-ban {
  font-size: 0;
  position: relative; }
  .item-ban .bg {
    display: block; }
  .item-ban .front {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center; }

i[class*="icon-"] {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat; }

.icon-arrow-dots {
  background-image: url(../images/icons/icon-arrow-dots.png);
  width: 9px;
  height: 9px; }

.icon-gwc {
  background-image: url(../images/icons/icon-gwc.png);
  width: 21px;
  height: 21px; }

.icon-heart {
  background-image: url(../images/icons/icon-heart.png);
  width: 21px;
  height: 19px; }

.icon-left-ban {
  background-image: url(../images/icons/icon-left-ban.png);
  width: 13px;
  height: 32px; }

.icon-position {
  background-image: url(../images/icons/icon-position.png);
  width: 9px;
  height: 12px; }

.icon-right-ban {
  background-image: url(../images/icons/icon-right-ban.png);
  width: 13px;
  height: 32px; }

.icon-select-drop {
  background-image: url(../images/icons/icon-select-drop.png);
  width: 5px;
  height: 3px; }

.icon-to {
  background-image: url(../images/icons/icon-to.png);
  width: 23px;
  height: 19px; }

.icon-tomore {
  background-image: url(../images/icons/icon-tomore.png);
  width: 27px;
  height: 25px; }

.icon-user {
  background-image: url(../images/icons/icon-user.png);
  width: 16px;
  height: 19px; }

.icon-video {
  background-image: url(../images/icons/icon-video.png);
  width: 60px;
  height: 60px; }
