@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Microsoft Yahei";
  color: #221815; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1; }

a {
  text-decoration: none;
  color: #666; }

em, i {
  font-style: normal; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    padding: 0;
    margin: 0;
    list-style: none; }

img {
  border: none;
  max-width: 100%;
  margin: auto; }

.pr {
  position: relative; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.vm {
  /*display: inline-block;*/
  vertical-align: middle;
  position: relative; }
  .vm:before {
    content: '';
    height: 100%;
    width: 0;
    font-size: 0;
    margin: 0;
    vertical-align: middle;
    display: inline-block; }
  .vm > * {
    vertical-align: middle; }

body {
  background-color: #fff; }

.clear {
  *zoom: 1; }
  .clear:after {
    content: '';
    display: table;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0; }

.full-width {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: auto; }

.center-title {
  padding-top: 72px;
  text-align: center; }
  .center-title h2, .center-title h4 {
    font-weight: 400;
    margin: 0;
    color: #221815;
    line-height: 1; }
  .center-title h2 {
    margin-bottom: 36px;
    font-size: 36px; }
  .center-title h4 {
    font-size: 16px;
    margin-bottom: 36px; }

.smallbar-a {
  display: inline-block; }

.smallbar {
  display: inline-block;
  font-size: 0;
  margin-bottom: 36px; }
  .smallbar em {
    color: #221815; }
  .smallbar .left, .smallbar .right {
    border: 1px solid #161312;
    height: 30px;
    line-height: 30px;
    display: inline-block; }
  .smallbar .left {
    border-right: none;
    padding: 0 22px; }
    .smallbar .left em {
      font-size: 18px; }
  .smallbar .right {
    padding: 0 10px; }
    .smallbar .right em {
      font-size: 16px;
      margin-right: 15px; }
  .smallbar.mid {
    margin-bottom: 68px; }
    .smallbar.mid .left, .smallbar.mid .right {
      height: 69px;
      line-height: 69px; }

.fixed-holder, .true-fixed {
  height: 110px; }

/* 固定到顶部位置 */
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }

.wrap {
  min-width: 1280px;
  width: 1920px; }

.max-w {
  max-width: 1490px;
  margin: auto;
  *zoom: 1; }
  .max-w:after {
    content: '';
    display: table;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0; }

.btn-big {
  width: 320px;
  height: 70px;
  background-color: transparent;
  border: 1px solid #161312; }
  .btn-big em, .btn-big i, .btn-big span {
    vertical-align: middle; }
  .btn-big em {
    font-size: 18px; }
  .btn-big i {
    font-size: 16px;
    margin-left: 36px; }

@font-face {
  font-family: "iconfont";
  src: url("//at.alicdn.com/t/font_l8ja4zrmdcp7gb9.eot?t=1489567636743");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_l8ja4zrmdcp7gb9.eot?t=1489567636743#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_l8ja4zrmdcp7gb9.woff?t=1489567636743") format("woff"), url("//at.alicdn.com/t/font_l8ja4zrmdcp7gb9.ttf?t=1489567636743") format("truetype"), url("//at.alicdn.com/t/font_l8ja4zrmdcp7gb9.svg?t=1489567636743#iconfont") format("svg");
  /* iOS 4.1- */ }

.if {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i-test:before {
  content: "\e601"; }

.i-all:before {
  content: "\e601"; }

.i-test1:before {
  content: "\e602"; }

.i-sofa:before {
  content: "\e602"; }

.i-test2:before {
  content: "\e603"; }

.i-chair:before {
  content: "\e603"; }

.i-test3:before {
  content: "\e604"; }

.i-table:before {
  content: "\e604"; }

.i-test4:before {
  content: "\e605"; }

.i-bed:before {
  content: "\e605"; }

.i-test5:before {
  content: "\e606"; }

.i-wardrobe:before {
  content: "\e606"; }

.i-test6:before {
  content: "\e607"; }

.i-locker:before {
  content: "\e607"; }

.i-test7:before {
  content: "\e608"; }

.i-cup:before {
  content: "\e608"; }

.i-test8:before {
  content: "\e609"; }

.i-light:before {
  content: "\e609"; }

.i-test9:before {
  content: "\e60b"; }

.i-jewelry:before {
  content: "\e60b"; }

.i-test10:before {
  content: "\e60c"; }

.i-weiyu:before {
  content: "\e60c"; }

.i-test11:before {
  content: "\e60e"; }

.i-stool:before {
  content: "\e60e"; }

.i-test12:before {
  content: "\e60f"; }

.i-other:before {
  content: "\e60f"; }

.i-test13:before {
  content: "\e610"; }

.i-cart:before {
  content: "\e610"; }

.i-test14:before {
  content: "\e611"; }

.i-share:before {
  content: "\e611"; }

.i-test15:before {
  content: "\e613"; }

.i-love:before {
  content: "\e613"; }

.i-test16:before {
  content: "\e614"; }

.i-pix-b:before {
  content: "\e614"; }

.i-test17:before {
  content: "\e615"; }

.i-pix-r:before {
  content: "\e615"; }

.i-test18:before {
  content: "\e616"; }

.i-user:before {
  content: "\e616"; }

.i-test19:before {
  content: "\e617"; }

.i-arr-b:before {
  content: "\e617"; }

.i-test20:before {
  content: "\e618"; }

.i-locate:before {
  content: "\e618"; }

.i-test21:before {
  content: "\e619"; }

.i-logo-white:before {
  content: "\e619"; }

.i-test22:before {
  content: "\e61a"; }

.i-logo-black:before {
  content: "\e61a"; }

.i-test23:before {
  content: "\e61b"; }

.i-banner-r:before {
  content: "\e61b"; }

.i-test24:before {
  content: "\e61c"; }

.i-banner-l:before {
  content: "\e61c"; }

.i-test25:before {
  content: "\e61d"; }

.i-keting:before {
  content: "\e61d"; }

.i-test26:before {
  content: "\e61f"; }

.i-zhuwo:before {
  content: "\e61f"; }

.i-test27:before {
  content: "\e620"; }

.i-chufang:before {
  content: "\e620"; }

.i-test28:before {
  content: "\e622"; }

.i-canting:before {
  content: "\e622"; }

.i-test29:before {
  content: "\e623"; }

.i-ertong:before {
  content: "\e623"; }

.i-test30:before {
  content: "\e624"; }

.i-shufang:before {
  content: "\e624"; }

.i-test31:before {
  content: "\e625"; }

.i-yangtai:before {
  content: "\e625"; }

.i-test32:before {
  content: "\e626"; }

.i-xuanguan:before {
  content: "\e626"; }

.i-test33:before {
  content: "\e627"; }

.i-wsj:before {
  content: "\e627"; }

.i-test34:before {
  content: "\e628"; }

.i-video:before {
  content: "\e628"; }

.i-test35:before {
  content: "\e629"; }

.i-designer:before {
  content: "\e629"; }

.i-test36:before {
  content: "\e62a"; }

.i-jiazhi:before {
  content: "\e62a"; }

.i-test37:before {
  content: "\e62b"; }

.i-renzheng:before {
  content: "\e62b"; }

.i-test38:before {
  content: "\e62c"; }

.i-chengben:before {
  content: "\e62c"; }

.i-test39:before {
  content: "\e62d"; }

.i-xinwen:before {
  content: "\e62d"; }

.i-test40:before {
  content: "\e62e"; }

.i-close:before {
  content: "\e62e"; }

.i-test41:before {
  content: "\e62f"; }

.i-edit:before {
  content: "\e62f"; }

.i-test42:before {
  content: "\e631"; }

.i-save:before {
  content: "\e631"; }

.i-test43:before {
  content: "\e632"; }

.i-xiadan:before {
  content: "\e632"; }

.i-test44:before {
  content: "\e633"; }

.i-dingjin:before {
  content: "\e633"; }

.i-test45:before {
  content: "\e634"; }

.i-liangfang:before {
  content: "\e634"; }

.i-test46:before {
  content: "\e635"; }

.i-queren:before {
  content: "\e635"; }

.i-test47:before {
  content: "\e636"; }

.i-quankuan:before {
  content: "\e636"; }

.i-test48:before {
  content: "\e637"; }

.i-hetong:before {
  content: "\e637"; }

.i-test49:before {
  content: "\e638"; }

.i-jinchang:before {
  content: "\e638"; }

.i-test50:before {
  content: "\e639"; }

.i-yanshou:before {
  content: "\e639"; }

.i-test51:before {
  content: "\e63a"; }

.i-tese:before {
  content: "\e63a"; }

.i-test52:before {
  content: "\e63b"; }

.i-quanmian:before {
  content: "\e63b"; }

.i-test53:before {
  content: "\e63c"; }

.i-jieduan:before {
  content: "\e63c"; }

.i-test54:before {
  content: "\e63d"; }

.i-xianchang:before {
  content: "\e63d"; }

.i-test55:before {
  content: "\e63e"; }

.i-gongqi:before {
  content: "\e63e"; }

.i-test56:before {
  content: "\e63f"; }

.i-zhibao:before {
  content: "\e63f"; }

body {
  color: #221815; }

.banners {
  position: relative;
  overflow: hidden;
  position: relative; }
  .banners:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 41.25%; }
  .banners > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .banners .pics {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .banners .pics li {
      /*position: absolute;*/ }
    .banners .pics li, .banners .pics img {
      display: block; }
  .banners .nav {
    position: absolute;
    top: 50%;
    width: 52px;
    height: 100px;
    margin-top: -50px;
    opacity: 0.8;
    background-color: #161312;
    line-height: 100px;
    text-align: center;
    display: block; }
    .banners .nav i {
      font-size: 32px;
      color: #fff; }
    .banners .nav:hover i {
      color: #fabe00; }
    .banners .nav.left {
      left: 30px; }
    .banners .nav.right {
      right: 30px; }
  .banners .pager-bar {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .banners .pager {
    background-color: #161312;
    opacity: 0.8;
    font-size: 0;
    padding: 9px 15px;
    display: inline-block;
    margin: auto; }
    .banners .pager li {
      display: inline-block;
      background-color: #fff;
      width: 9px;
      height: 9px;
      margin: 0 5px;
      border-radius: 50%; }
      .banners .pager li.current, .banners .pager li.on {
        background-color: #fabe00; }

.changjing {
  position: relative;
  font-size: 0;
  margin: auto;
  max-width: 1494px; }
  .changjing .pic {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    padding: 18px 27px; }
    .changjing .pic img {
      /*margin: 27px 18px;*/ }

.group {
  text-align: center; }

.m1396 {
  max-width: 1396px;
  margin: auto; }

.changjing2 {
  max-width: 1494px;
  margin: auto;
  /*padding: 0 200px;*/ }
  .changjing2 .mains, .changjing2 .subs {
    font-size: 0; }
    .changjing2 .mains li, .changjing2 .subs li {
      display: inline-block; }
  .changjing2 li a {
    position: relative; }
  .changjing2 .at {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -12px; }
    .changjing2 .at .vm {
      display: inline-block; }
  .changjing2 .mains li {
    width: 33.3333333%; }
  .changjing2 .mains .at .vm {
    font-size: 24px;
    padding: 0 32px;
    border: 1px solid #161312; }
    .changjing2 .mains .at .vm em {
      margin-left: 12px; }
  .changjing2 .subs li {
    width: 16.666666666%; }
  .changjing2 .subs .at .vv {
    background-color: #fff;
    border: 10px solid rgba(22, 19, 18, 0.11);
    width: 124px;
    height: 124px;
    margin-top: -62px;
    opacity: 0.9;
    display: inline-block;
    padding-top: 18px; }
    .changjing2 .subs .at .vv img {
      margin-bottom: 25px; }
  .changjing2 .subs .at em {
    display: block;
    font-size: 18px; }

.item-ban {
  font-size: 0;
  position: relative; }
  .item-ban .bg {
    display: block; }
  .item-ban .front {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center; }

.bg-2017 .logo-play img {
  margin-right: 28px; }

.designers {
  font-size: 0; }
  .designers li {
    width: 20%;
    display: inline-block; }
    .designers li img {
      display: block; }
    .designers li .name, .designers li .info {
      display: block; }
    .designers li .name {
      color: #221815;
      padding: 25px 0 16px; }
      .designers li .name em {
        line-height: 1; }
      .designers li .name .cn {
        font-size: 18px; }
      .designers li .name .en {
        font-size: 16px; }
    .designers li .info {
      font-size: 14px;
      display: inline-block;
      border: 1px solid #161312; }
      .designers li .info .zili, .designers li .info .duty {
        display: inline-block; }
      .designers li .info .zili {
        background: #161312;
        color: #fff;
        padding: 6px 13px; }
      .designers li .info .duty {
        padding: 6px 16px; }

.bankuai5 {
  font-size: 0;
  max-width: 1400px;
  margin: 0 auto 133px; }
  .bankuai5 .bk {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 395px;
    border: 1px solid #161312;
    border-right: none; }
    .bankuai5 .bk .title h4 {
      font-size: 16px;
      margin-top: 67px; }
    .bankuai5 .bk .title h3 {
      font-size: 30px;
      margin: 30px auto 56px; }
    .bankuai5 .bk .content {
      font-size: 14px;
      color: #2D2421;
      padding: 0 46px;
      text-align: left; }
    .bankuai5 .bk.a {
      background: url(../images/A.png) no-repeat left bottom;
      background-position: -26px 228px; }
    .bankuai5 .bk.b {
      background: url(../images/B.png) no-repeat left bottom;
      background-position: -12px 228px; }
    .bankuai5 .bk.c {
      background: url(../images/C.png) no-repeat left bottom;
      background-position: 0 228px; }
    .bankuai5 .bk.d {
      background: url(../images/D.png) no-repeat left bottom;
      background-position: -8px 228px; }
    .bankuai5 .bk.e {
      background: url(../images/E.png) no-repeat left bottom;
      background-position: -6px 228px;
      border-right: 1px solid #161312; }

.who-we-are {
  color: #fff; }
  .who-we-are .title {
    font-size: 48px;
    line-height: 1;
    margin-top: 66px;
    margin-bottom: 46px; }
  .who-we-are .p {
    font-size: 18px;
    line-height: 36px;
    max-width: 840px;
    margin: auto; }
  .who-we-are .btn-big {
    margin-top: 66px;
    width: 317px;
    height: 85px;
    display: inline-block;
    line-height: 85px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 24px; }

.bicons .bi .img {
  height: 140px;
  display: block; }

.bicons .line {
  display: inline-block;
  height: 1px;
  font-size: 0;
  width: 104px;
  border-top: 1px solid #161312;
  margin-bottom: 30px;
  line-height: 0; }

.bicons .txt {
  max-width: 220px;
  margin: auto;
  font-size: 14px; }
  .bicons .txt .small, .bicons .txt .big {
    line-height: 1; }
  .bicons .txt .big {
    margin-top: 20px;
    font-size: 18px; }

.row-media {
  margin-bottom: 84px; }

.col-media .txt {
  line-height: 24px;
  margin-top: 30px;
  max-width: 200px;
  margin: 30px auto 0; }

.media-cont {
  background-color: #f8f8f8;
  margin-top: 162px; }
  .media-cont .center-title h4 {
    margin-bottom: 120px; }

i[class*="icon-"] {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat; }

.icon-arrow-dots {
  background-image: url(../images/icons/icon-arrow-dots.png);
  width: 9px;
  height: 9px; }

.icon-dots-down {
  background-image: url(../images/icons/icon-dots-down.png);
  width: 9px;
  height: 9px; }

.icon-gwc {
  background-image: url(../images/icons/icon-gwc.png);
  width: 21px;
  height: 21px; }

.icon-heart {
  background-image: url(../images/icons/icon-heart.png);
  width: 21px;
  height: 19px; }

.icon-left-ban {
  background-image: url(../images/icons/icon-left-ban.png);
  width: 13px;
  height: 32px; }

.icon-left-ban1 {
  background-image: url(../images/icons/icon-left-ban1.png);
  width: 13px;
  height: 32px; }

.icon-pic-select {
  background-image: url(../images/icons/icon-pic-select.png);
  width: 12px;
  height: 12px; }

.icon-position {
  background-image: url(../images/icons/icon-position.png);
  width: 9px;
  height: 12px; }

.icon-right-ban {
  background-image: url(../images/icons/icon-right-ban.png);
  width: 13px;
  height: 32px; }

.icon-right-ban1 {
  background-image: url(../images/icons/icon-right-ban1.png);
  width: 13px;
  height: 32px; }

.icon-select-drop {
  background-image: url(../images/icons/icon-select-drop.png);
  width: 5px;
  height: 3px; }

.icon-select {
  background-image: url(../images/icons/icon-select.png);
  width: 7px;
  height: 4px; }

.icon-to {
  background-image: url(../images/icons/icon-to.png);
  width: 23px;
  height: 19px; }

.icon-tomore {
  background-image: url(../images/icons/icon-tomore.png);
  width: 27px;
  height: 25px; }

.icon-user {
  background-image: url(../images/icons/icon-user.png);
  width: 16px;
  height: 19px; }

.icon-video {
  background-image: url(../images/icons/icon-video.png);
  width: 60px;
  height: 60px; }

.products {
  font-size: 0;
  padding-bottom: 84px;
  text-align: center; }
  .products li {
    display: inline-block;
    width: 25%; }
  .products a {
    display: inline-block;
    position: relative; }
    .products a span {
      color: #221815;
      display: block;
      line-height: 1; }
    .products a .name {
      font-size: 16px; }
    .products a .price {
      font-size: 18px;
      margin: 14px auto; }
    .products a .service {
      font-size: 12px;
      padding-top: 15px;
      border-top: 1px solid #161312;
      max-width: 182px;
      margin: auto; }
    .products a .box {
      display: none;
      background-color: #fff;
      opacity: 0.9;
      border: 10px solid #ddd;
      width: 210px;
      height: 200px;
      position: absolute;
      left: 50%;
      margin-left: -105px;
      top: 50%;
      margin-top: -100px;
      padding: 20px; }
      .products a .box .txt {
        font-size: 12px;
        line-height: 24px; }
      .products a .box .icons {
        border-top: 1px solid #161312;
        display: block;
        padding-top: 30px;
        margin-top: 30px; }
        .products a .box .icons i {
          margin: 0 12px; }
    .products a:hover {
      text-decoration: none; }
  .products li:hover .box {
    display: block; }

.head-nav {
  height: 122px;
  background-color: #161312; }
  .head-nav .logo {
    /*float: left;*/
    display: inline-block;
    margin: auto 40px; }
  .head-nav .nav-list {
    /*float: left;*/
    height: 100%;
    display: inline-block;
    font-size: 0; }
    .head-nav .nav-list ul {
      height: 100%; }
    .head-nav .nav-list li {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      line-height: 122px;
      padding: 0 29px; }
    .head-nav .nav-list a {
      color: #ccc;
      font-size: 16px;
      line-height: 1;
      text-align: center; }
    .head-nav .nav-list li.on a, .head-nav .nav-list li.active a {
      color: #fff; }
  .head-nav .info {
    float: right;
    font-size: 0;
    color: #fff;
    height: 122px;
    /*width: 340px;*/ }
    .head-nav .info .vm {
      /*display: block;*/
      /*height: 100%;*/
      line-height: 1; }
    .head-nav .info .locate {
      font-size: 12px;
      line-height: 1;
      height: 12px;
      display: inline-block;
      position: relative; }
      .head-nav .info .locate i {
        margin-right: 6px; }
      .head-nav .info .locate em {
        font-family: "宋体"; }
    .head-nav .info .line, .head-nav .info .city, .head-nav .info .login {
      font-size: 14px;
      line-height: 1; }
    .head-nav .info .city i {
      margin-left: 7px; }
    .head-nav .info .line {
      margin: 0 8px; }
    .head-nav .info .login {
      height: 32px;
      line-height: 32px;
      width: 130px;
      border: 1px solid #4e4d4d;
      color: #999;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      margin: 0 30px 0 25px; }
      .head-nav .info .login i {
        margin-right: 14px; }

.foot-links {
  height: 360px;
  background-color: #161312;
  color: #fff; }
  .foot-links .logo {
    margin-top: 107px;
    display: block; }
  .foot-links a {
    color: #fff; }
  .foot-links a:hover {
    color: #fff; }
  .foot-links .links h3 {
    font-size: 16px;
    margin-bottom: 45px;
    margin-top: 110px; }
  .foot-links .links li {
    font-size: 14px;
    margin-bottom: 18px; }
  .foot-links .erweima {
    margin-top: 96px; }

.foot {
  text-align: center;
  background-color: #161312;
  color: #fff;
  height: 155px;
  border-top: 2px solid #2E2B2A;
  padding-top: 40px;
  line-height: 30px; }
