
i[class*="icon-"] {
    display: inline-block;
    background-size:contain;
    background-repeat:no-repeat;
}
.icon-arrow-dots {
    background-image:url(../images/icons/icon-arrow-dots.png);
    width:9px;
    height:9px;
}

.icon-dots-down {
    background-image:url(../images/icons/icon-dots-down.png);
    width:9px;
    height:9px;
}

.if i-cart {
    background-image:url(../images/icons/if i-cart.png);
    width:21px;
    height:21px;
}

.if i-share {
    background-image:url(../images/icons/if i-share.png);
    width:21px;
    height:19px;
}

.icon-left-ban {
    background-image:url(../images/icons/icon-left-ban.png);
    width:13px;
    height:32px;
}

.icon-left-ban1 {
    background-image:url(../images/icons/icon-left-ban1.png);
    width:13px;
    height:32px;
}

.icon-pic-select {
    background-image:url(../images/icons/icon-pic-select.png);
    width:12px;
    height:12px;
}

.icon-position {
    background-image:url(../images/icons/icon-position.png);
    width:9px;
    height:12px;
}

.icon-right-ban {
    background-image:url(../images/icons/icon-right-ban.png);
    width:13px;
    height:32px;
}

.icon-right-ban1 {
    background-image:url(../images/icons/icon-right-ban1.png);
    width:13px;
    height:32px;
}

.icon-select-drop {
    background-image:url(../images/icons/icon-select-drop.png);
    width:5px;
    height:3px;
}

.icon-select {
    background-image:url(../images/icons/icon-select.png);
    width:7px;
    height:4px;
}

.icon-to {
    background-image:url(../images/icons/icon-to.png);
    width:23px;
    height:19px;
}

.icon-tomore {
    background-image:url(../images/icons/icon-tomore.png);
    width:27px;
    height:25px;
}

.icon-user {
    background-image:url(../images/icons/icon-user.png);
    width:16px;
    height:19px;
}

.icon-video {
    background-image:url(../images/icons/icon-video.png);
    width:60px;
    height:60px;
}
