
i[class*="fl-"],i[class*="bfl-"] {
    display: inline-block;
    background-size:contain;
    background-repeat:no-repeat;
}
.bfl-all {
    background-image:url(../images/fl/bfl-all.png);
    width:28px;
    height:30px;
}

.bfl-canju {
    background-image:url(../images/fl/bfl-canju.png);
    width:29px;
    height:30px;
}

.bfl-chuang {
    background-image:url(../images/fl/bfl-chuang.png);
    width:29px;
    height:30px;
}

.bfl-chuwugui {
    background-image:url(../images/fl/bfl-chuwugui.png);
    width:34px;
    height:30px;
}

.bfl-deng {
    background-image:url(../images/fl/bfl-deng.png);
    width:25px;
    height:30px;
}

.bfl-light {
    background-image:url(../images/fl/bfl-light.png);
    width:28px;
    height:30px;
}

.bfl-qita {
    background-image:url(../images/fl/bfl-qita.png);
    width:23px;
    height:30px;
}

.bfl-shafa {
    background-image:url(../images/fl/bfl-shafa.png);
    width:28px;
    height:30px;
}

.bfl-shipin {
    background-image:url(../images/fl/bfl-shipin.png);
    width:24px;
    height:32px;
}

.bfl-weiyu {
    background-image:url(../images/fl/bfl-weiyu.png);
    width:30px;
    height:30px;
}

.bfl-yi {
    background-image:url(../images/fl/bfl-yi.png);
    width:30px;
    height:30px;
}

.bfl-yigui {
    background-image:url(../images/fl/bfl-yigui.png);
    width:26px;
    height:30px;
}

.bfl-zhuo {
    background-image:url(../images/fl/bfl-zhuo.png);
    width:29px;
    height:30px;
}

.fl-all-on {
    background-image:url(../images/fl/fl-all-on.png);
    width:28px;
    height:30px;
}

.fl-all {
    background-image:url(../images/fl/fl-all.png);
    width:28px;
    height:30px;
}

.fl-canju-on {
    background-image:url(../images/fl/fl-canju-on.png);
    width:29px;
    height:30px;
}

.fl-canju {
    background-image:url(../images/fl/fl-canju.png);
    width:29px;
    height:30px;
}

.fl-chuang-on {
    background-image:url(../images/fl/fl-chuang-on.png);
    width:29px;
    height:30px;
}

.fl-chuang {
    background-image:url(../images/fl/fl-chuang.png);
    width:29px;
    height:30px;
}

.fl-chuwugui-on {
    background-image:url(../images/fl/fl-chuwugui-on.png);
    width:34px;
    height:30px;
}

.fl-chuwugui {
    background-image:url(../images/fl/fl-chuwugui.png);
    width:34px;
    height:30px;
}

.fl-deng-on {
    background-image:url(../images/fl/fl-deng-on.png);
    width:25px;
    height:30px;
}

.fl-deng {
    background-image:url(../images/fl/fl-deng.png);
    width:25px;
    height:30px;
}

.fl-light-on {
    background-image:url(../images/fl/fl-light-on.png);
    width:28px;
    height:30px;
}

.fl-light {
    background-image:url(../images/fl/fl-light.png);
    width:28px;
    height:30px;
}

.fl-qita-on {
    background-image:url(../images/fl/fl-qita-on.png);
    width:23px;
    height:30px;
}

.fl-qita {
    background-image:url(../images/fl/fl-qita.png);
    width:23px;
    height:30px;
}

.fl-shafa-on {
    background-image:url(../images/fl/fl-shafa-on.png);
    width:28px;
    height:30px;
}

.fl-shafa {
    background-image:url(../images/fl/fl-shafa.png);
    width:28px;
    height:30px;
}

.fl-shipin-on {
    background-image:url(../images/fl/fl-shipin-on.png);
    width:24px;
    height:32px;
}

.fl-shipin {
    background-image:url(../images/fl/fl-shipin.png);
    width:24px;
    height:32px;
}

.fl-weiyu-on {
    background-image:url(../images/fl/fl-weiyu-on.png);
    width:30px;
    height:30px;
}

.fl-weiyu {
    background-image:url(../images/fl/fl-weiyu.png);
    width:30px;
    height:30px;
}

.fl-yi-on {
    background-image:url(../images/fl/fl-yi-on.png);
    width:30px;
    height:30px;
}

.fl-yi {
    background-image:url(../images/fl/fl-yi.png);
    width:30px;
    height:30px;
}

.fl-yigui-on {
    background-image:url(../images/fl/fl-yigui-on.png);
    width:26px;
    height:30px;
}

.fl-yigui {
    background-image:url(../images/fl/fl-yigui.png);
    width:26px;
    height:30px;
}

.fl-zhuo-on {
    background-image:url(../images/fl/fl-zhuo-on.png);
    width:29px;
    height:30px;
}

.fl-zhuo {
    background-image:url(../images/fl/fl-zhuo.png);
    width:29px;
    height:30px;
}
