@import "mixin";
@import "vars";
html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Microsoft Yahei";
	color: $font;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1;
}
a {
	text-decoration: none;
	color: #666;
}

em, i {
	font-style: normal;
}
ul, ol {
	margin: 0;
	padding: 0;
	li {
		padding: 0;
		margin: 0;
		list-style: none;

	}
}

img {
	border: none;
	max-width: 100%;
	margin: auto;
}

