.pr {
    position: relative;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.fn {
    float: none;
}
.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.vm {
	/*display: inline-block;*/
	vertical-align: middle;
	position: relative;
	&:before {
		content:'';
		height: 100%;
		width: 0;
		font-size: 0;
		margin: 0;
		vertical-align: middle;
		display: inline-block;
	}
	> * {
		vertical-align: middle;
	}
}
body {
	background-color: #fff;
}
.clear {
	*zoom: 1;
	&:after {
		content: '';
		display: table;
		clear: both;
		visibility: hidden;
		font-size: 0;
		height: 0;

	}
}

.full-width {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: auto;
}


.center-title {
	padding-top: 72px;
	text-align: center;
	h2, h4 {
		font-weight: 400;
		margin: 0;
		color: $font;
		line-height: 1;
	}
	h2 {
		margin-bottom: 36px;
		font-size: 36px;
	}
	h4 {
		font-size: 16px;
		margin-bottom: 36px;
	}
}

.smallbar-a {
	display: inline-block;
}
.smallbar {
    display: inline-block;
    font-size: 0;
    margin-bottom: 36px;
    em {
        color: $font;
    }
    .left, .right {
        border: 1px solid $black;
        height: 30px;
        line-height: 30px;
        display: inline-block;
    }
    .left {
        border-right: none;
        padding: 0 22px;
        em {
            font-size: 18px;
        }
    }
    .right {
        padding: 0 10px;
        em {
            font-size: 16px;
            margin-right: 15px;
        }
    }
    &.mid {
    	margin-bottom: 68px;
        .left, .right {
            height: 69px;
            line-height: 69px;
        }
    }
}
.fixed-holder, .true-fixed {
    height: 110px;
}

.true-fixed {
    
}
/* 固定到顶部位置 */
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}