i[class*="icon-"] {
	display: inline-block;
	font-size: 0;
	background-repeat: no-repeat;
}

.icon-arrow-dots {
	background-image: url('../images/icons/icon-arrow-dots.png');
}
.icon-gwc {
	background-image: url('../images/icons/icon-gwc.png');
}
.icon-heart {
	background-image: url('../images/icons/icon-heart.png');
}
.icon-left-ban {
	background-image: url('../images/icons/icon-left-ban.png');
}
.icon-position {
	background-image: url('../images/icons/icon-position.png');
}
.icon-right-ban {
	background-image: url('../images/icons/icon-right-ban.png');
}
.icon-select-drop {
	background-image: url('../images/icons/icon-select-drop.png');
}
.icon-to {
	background-image: url('../images/icons/icon-to.png');
}
.icon-tomore {
	background-image: url('../images/icons/icon-tomore.png');
}
.icon-user {
	background-image: url('../images/icons/icon-user.png');
}
.icon-video {
	background-image: url('../images/icons/icon-video.png');
}