@import "base";
@import "common";



body {
	color: $font;
}

.big-banner {
	height: 720px;
	background-color: #dadad9;
	position: relative;
	.desc {
		float: left;
		max-width: 760px;
		text-align: left;
		padding-left: 180px;
	}
	.designer {
		position: absolute;
		top: 0;
		right: 10%;
	}
	.name {
		font-size: 36px;
		line-height: 1;
		margin-top: 185px;
	}
	.info {
		font-size: 14px;
		display: inline-block;
		border: 1px solid $black;
		margin-top: 15px;
		margin-bottom: 58px;
		.zili, .duty {
			display: inline-block;
		}
		.zili {
			background: $black;
			color: #fff;
			padding: 6px 13px;
		}
		.duty {
			padding: 6px 16px;
		}
	}
	.p {
		line-height: 36px;
		font-size: 16px;
	}
	.btn-yuyue {
		height: 70px;
		width: 226px;
		background-color: transparent;
		border: 1px solid $black;
		em {
			font-size: 18px;
		}
		.if {
			font-size: 12px;
			-webkit-transform: scale(0.9);
			margin-left: 35px;
		}
	}
}
.works-wrap {
	.main-title {
		.title {
			font-size: 36px;
			line-height: 1;
			margin-top: 68px;
			margin-bottom: 38px;
		}
		.works-tab {
			font-size: 14px;
			line-height: 1;
			margin-bottom: 54px;
			li {
				display: inline-block;
				margin: 0 15px;
				&.on {
					em {
						font-weight: 700;
					}
				}
			}
		}
	}
}
.works {
	border-top: 1px solid $black;
	.list {
		max-width: 1500px;
		margin: auto;
	}
	li.work {
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 64px;
		padding-top: 64px;
		h2 {
			font-size: 24px;
			line-height: 1;
			margin-bottom: 16px;
		}
		.survey {
			font-size: 12px;
			line-height: 1;
			margin-bottom: 36px;
		}
		.p {
			font-size: 16px;
			line-height: 1;
			margin-bottom: 36px;
		}
		.pics {
			font-size: 0;
			overflow: hidden;
			ul {

				margin-right: -28px;
			}
			li {
				width: 25%;
				display: inline-block;
				padding-right: 28px;
			}
		}
	}
}

.modal-view {
	.i-close {
		font-size: 32px;
	}
	.modal-dialog {
		width: 1280px;
		max-height: 90%;
	}
	.modal-content {
		border-radius: 0;
		text-align: center;
	}
	.modal-header {
		border-bottom: none;
	}
	.center-img {
		max-width: 1080px;
		margin: auto;
		img {
			max-height: 100%;
		}
	}
	.view-box {
		padding: 0 95px 36px;
		position: relative;
		.nav-left, .nav-right {
			position: absolute;
			top: 50%;
			.if {
				font-size: 32px;
			}
			&:hover {
				color: #ea0000;
			}
		}
		.nav-left {
			left: 36px;
		}
		.nav-right {
			right: 36px;
		}
	}
	.center-info {
		max-width: 1080px;
		padding-top: 36px;
		.name {
			font-size: 18px;
		}
		.pages {
			font-size: 14px;
			background-color: #000;
			color: #fff;
			padding: 5px 13px;
		}
	}
}

@media (max-width: 1366px) {
	.works {
		ul.list {
			padding: 0 15px;
		}
	}
	.modal-view .modal-dialog .center-img {
		/*max-height: 530px;*/
		height: 400px;
	}
}

@import "icons";
@import "pros";
@import "head";
@import "foot";