@import "base";
@import "common";



body {
	color: $font;
}

.choice {
	padding: 90px 108px;
}
.thumbs-list {
	font-size: 0;
	li {
		display: inline-block;
		width: 25%;
	}
	span {
		display: inline-block;
		max-width: 294px;
		padding: 24px 24px 60px;                                                              
		/*height: 136px;*/
		/*@include aspect-ratio(1, 1);*/
		border: 1px solid $black;
		margin-right: 15px;
		position: relative;
		.title {
			font-size: 14px;
			text-align: center;
			display: block;
		}
		i {
			display: none;
			right: 0;
			bottom: 0;
			position: absolute;
		}
		&.on {
			border-width: 2px;
			i {
				display: inline-block;
			}
		}
	}
}

.table-choice {
	margin-top: 36px;
	width: 100%;
	th, td {
		border: 1px solid $black;
		text-align: center;
	}
	th {
		text-align: center;
		font-weight: 400;
		padding: 28px 0;
		.if {
			font-size: 32px;
		}
		.span {
			em {
				display: block;
			}
		}
	}
	td {
		padding: 20px 0;
		.in {
			position: relative;
		}
		.edit {
			border: none;
			padding: 0;
			background: transparent;
			position: absolute;
			right: 6px;
			top: 50%;
			margin-top: -16px;
			cursor: pointer;
			.if {
				line-height: 1;
				font-size: 32px;
			}
		}
	}
}

.modal-pinpai {
	.i-close {
		font-size: 32px;
	}
	.modal-content {
		border-radius: 0;
		text-align: center;
	}
	.modal-header {
		border-bottom: none;
	}
	.title {
		font-size: 16px;
	}
	.class {
		font-size: 36px;
		margin-bottom: 52px;
		line-height: 1;
	}
	.select-box {
		width: 488px;
		height: 75px;
		padding: 0 24px;
		.prefix {
			width: 76px;
			text-align: center;
		}
		em, .prefix {
			font-size: 18px;
		}
		em {
			width: 333px;
			padding: 0 18px;
			text-align: left;
		}
		.list {
			width: 374px;
			right: 0;
			top: 76px;
			left: auto;
			li {
				line-height: 70px;
				height: 70px;
				text-align: left;
				padding-left: 18px;
				padding-right: 18px;
				font-size: 18px;
			}
		}
	}
	.modal-footer {
		text-align: center;
		border-top: none;
		padding-bottom: 64px;
		.btn-primary {
			width: 488px;
			height: 75px;
			background: #000;
			color: #fff;
			font-size: 24px;
			border: none;
			border-radius: 0;
		}
	}
}

@import "icons";
@import "pros";
@import "head";
@import "foot";