@import "base";
@import "common";
@import "fl";

.fixed-holder {
    position: relative;
    height: 155px;
    .true-fixed {
        height: 155px;
    }
}
.fenlei-menu {
	background-color: #F2F2F2;
	height: 155px;
	text-align: center;
	/*border-top: 1px solid #5C5A5A;*/
	padding-top: 15px;
	&.drop {
		background-color: $black;
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 10001;
		display: none;
		.on {

			.one-i {
				i {opacity: 1;color: #fff;}
			}
			.num {
				border-top: 1px solid #5C5A5A;
				display: block;
			}
		}
		li a:hover {
			color: #fff;
			.one-i i {
				opacity: 1;
			}
		}
	}
	ul {
		font-size: 0;
		margin: auto;
	}
	li {
		display: inline-block;
		margin: 0 18px;
		vertical-align: top;
		a:hover {
			text-decoration: none;
		}
		.if {
			font-size: 36px;
		}
		.one-i {
			display: block;
			height: 70px;
			i {
				opacity: 0.3;
			}
		}
		.two-i {
			display: block;
			height: 70px;
			i:first-child {
				display: inline-block;
				opacity: 0.3;
			}
			i:last-child {
				display: none;
			}
		}
		.name {
			font-size: 12px;
			line-height: 1;
		}
		.num {
			font-size: 12px;
			display: none;
			margin-top: 10px;
			padding-top: 10px;
			line-height: 1;
		}
		&.on {
			.one-i {
				i {opacity: 1;}
			}
			.num {
				border-top: 1px solid #5C5A5A;
				display: block;
			}
		}
	}
}
.main-banner {
	position: relative;
	.infos {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: left;
		padding-top: 10%;
		padding-left: 10%;
	}
	.yuanjia {
		font-size: 12px;
		line-height: 1;
	}
	.name {
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 20px;
		margin-top: 34px;
		color: $black;
	}
	.desc {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 15px;
		max-width: 382px;
	}
	.btn-buy {
		background-color: transparent;
		width: 320px;
		height: 69px;
		border: 1px solid $black;
		font-size: 0;
		> * {
			vertical-align: middle;
		}
		em {
			font-size: 12px;
		}
		span {
			font-size: 30px;
		}
		.price {
			margin-right: 70px;
			margin-left: 35px;
		}
	}
}

.tuan {
	.item {
		text-align: center;
	}
	.yuanjia {
		font-size: 12px;
		line-height: 1;
	}
	.name {
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 20px;
		margin-top: 34px;
		color: $black;
	}
	.desc {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 15px;
	}
	.btn-buy {
		background-color: transparent;
		width: 320px;
		height: 69px;
		border: 1px solid $black;
		> * {
			vertical-align: middle;
		}
		em {
			font-size: 12px;
		}
		span {
			font-size: 30px;
		}
	}
}

.group {
	text-align: center;
}
.loadmore {
	display: inline-block;
	margin: auto;
	color: #fff;
	width: 390px;
	height: 69px;
	background-color: $black;
	border: none;
	margin-bottom: 120px;
	em {
		font-size: 18px;
	}
	em, i {
		vertical-align: middle;
	}
}

.products {
	/*border-top: 1px solid #000;*/
	/*margin-top: 100px;*/
	padding-top: 100px;
}
@import "head";
@import "pros";
@import "foot";
@import "icons";

