@import "base";
@import "common";
@import "fl";

.fixed-holder {
    position: relative;
    height: 155px;
    .true-fixed {
        height: 155px;
    }
}
.main-banner {
	position: relative;
	.infos {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: left;
		padding-top: 10%;
		padding-left: 10%;
	}
	.yuanjia {
		font-size: 12px;
		line-height: 1;
	}
	.name {
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 20px;
		margin-top: 34px;
		color: $black;
	}
	.desc {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 15px;
		max-width: 382px;
	}
	.btn-buy {
		background-color: transparent;
		width: 320px;
		height: 69px;
		border: 1px solid $black;
		font-size: 0;
		> * {
			vertical-align: middle;
		}
		em {
			font-size: 12px;
		}
		span {
			font-size: 30px;
		}
		.price {
			margin-right: 70px;
			margin-left: 35px;
		}
	}
}

.tuan {
	.item {
		text-align: center;
	}
	.yuanjia {
		font-size: 12px;
		line-height: 1;
	}
	.name {
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 20px;
		margin-top: 34px;
		color: $black;
	}
	.desc {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 15px;
	}
	.btn-buy {
		background-color: transparent;
		width: 320px;
		height: 69px;
		border: 1px solid $black;
		> * {
			vertical-align: middle;
		}
		em {
			font-size: 12px;
		}
		span {
			font-size: 30px;
		}
	}
}

.group {
	text-align: center;
}

.products {
	/*border-top: 1px solid #000;*/
	/*margin-top: 100px;*/
	padding-top: 100px;
}
@import "head";
@import "pros";
@import "foot";
@import "icons";

