@import "base";
@import "common";
@import "fl";

.single {
	.title {
		height: 162px;
		h2 {
			font-size: 30px;
			color: $black;
			line-height: 1;
			margin-top: 48px;
			margin-bottom: 28px;
		}
		p {
			font-size: 14px;
			line-height: 1;
		}
	}
	.base-info {
		height: 162px;
		font-size: 0;
		position: relative;
	}
	.price {
		font-size: 30px;
	}
	.btn-buy {
		width: 262px;
		height: 62px;
		font-size: 18px;
		color: #fff;
		border: none;
		background-color: $black;
		margin-left: 7%;
		margin-right: 7%;
	}
	.icons {
		display: inline-block;
		i {
			margin-right: 15px;
			font-size: 24px;
			color: #bcbcbc;
			&:hover {
				color: #ea0000;
			}
		}
	}
}
.topbar {
	padding: 0 15px;
}
.detail-head {
	border-top: 1px solid $black;
	padding-top: 76px;
	.row {
		/*width: 80%;*/
		min-width: 1280px;
		max-width: 1490px;
		margin: auto;
		padding-bottom: 100px;
	}
}
.main-pic {
	@include aspect-ratio(1, 1);
	position: relative;
	max-height: 400px;
	overflow: hidden;
	.vm {
		position: absolute;
		background-color: #fff;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		/*width: 100%;
		height: 100%;*/
		text-align: center;
		img {
			margin: auto;
			max-height: 100%;
		}
	}
}
.thumbs-list {
	font-size: 0;
	li {
		display: inline-block;
		width: 20%;
		&.on {
			span {
				border-width: 2px;
			}
			i {
				display: inline-block;
			}
		}
	}
	span {
		display: inline-block;
		max-width: 136px;                                                                
		/*height: 136px;*/
		/*@include aspect-ratio(1, 1);*/
		border: 1px solid $black;
		margin-right: 15px;
		position: relative;
		i {
			display: none;
			right: 0;
			bottom: 0;
			position: absolute;
		}
	}
}

.select-box {
	display: inline-block;
	height: 36px;
	padding: 0 20px;
	line-height: 36px;
	font-size: 0;
	border: 1px solid $black;
	position: relative;
	cursor: default;
	em, i{
		vertical-align: middle;
		display: inline-block;
	}
	em {
		font-size: 16px;
		margin-right: 6px;
	}
	i {
		font-size: 12px;
		/*-webkit-text-size-adjust: none;*/
		/*text-size-adjust: none;*/

    	-webkit-transform: scale(0.9);
	}
	.list {
		position: absolute;
		left: -1px;
		top: 36px;
		width: 100%;
		min-width: 120px;
		background-color: #fff;
		border: 1px solid $black;
		display: none;
		max-height: 360px;
		overflow: auto;
		li {
			font-size: 14px;
			padding: 0 12px;
			cursor: pointer;
			&:hover {
				background-color: #f7f7f7;
			}
			&.on {
				background-color: #f0f0f0;
			}
		}
	}
}

.table-product {
	th, td {
		vertical-align: top;
		padding: 15px 11px;
	}
	th {
		width: 64px;
	}
	.tag {
		line-height: 36px;
		font-weight: 400;
	}
	.labels {
		font-size: 0;
		.label-pro {

		margin-right: 13px;
		margin-bottom: 11px;
		}
	}
	.label-pro {
		height: 36px;
		padding: 0 16px;
		border: 1px solid $black;
		line-height: 34px;
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		cursor: pointer;
		&.on {
			border-width: 2px;
		}
	}
	.color-piece {
		padding: 8px;
		display: inline-block;
		border: 1px solid $black;
		position: relative;
		cursor: pointer;
		i {
			display: none;
			position: absolute;
			right: 0;
			bottom: 0;
		}
		&.on {
			border-width: 2px;
			padding: 7px;
			i {
				display: inline-block;
			}
		}
		.in {
			background-color: #eee;
			display: block;
			width: 25px;
			height: 25px;
		}
	}
	.song {
		vertical-align: middle;
		margin-top: 15px;
		> em, > span {
			vertical-align: middle;
		} 
	}
	.number-picker {
		font-size: 0;
		vertical-align: middle;
		margin-right: 12px;
		em {
			height: 60px;
			cursor: pointer;
			line-height: 60px;
			vertical-align: middle;
			border: 1px solid $black;
			font-size: 14px;
			display: inline-block;
			width: 30px;
			text-align: center;
		}
		.num {
			width: 66px;
			font-size: 16px;
			border-left: none;
			border-right: none;
		}
	}
	.stock {
		line-height: 60px;
		display: inline-block;
		vertical-align: middle;
	}
}
.tab-bar {
	height: 80px;
	background-color: $black;
	font-size: 0;
	.max-w {
		margin: 0 15px;
		height: 100%;
	}
	.tabs {
		height: 80px;
		.on {
			color: #fff;
			font-weight: 700;
		}
		a {
			font-size: 16px;
			color: #E8E8E8;
			text-align: center;
			width: 110px;
			display: inline-block;
			cursor: pointer;
			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}
	.base-info {
		height: 80px;
		min-width: 500px;
		display: none;
		.price {
			color: #bcbcbc;
		}
		.btn-buy {
			width: 180px;
			height: 40px;
			background-color: #fff;
			color: $black;
		}
	}
	&.fixed-top {
		.base-info {
			display: block;
		}
	}
}

.tabs-pic {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto 90px;
	.foot-tabs {
		font-size: 0;
		li {
			display: inline-block;
			margin: 0 30px;
		}
		.txt {
			border-top: 2px solid $black;
			font-size: 14px;
			line-height: 1;
			padding-top: 18px;
		}
	}
}

	.two {
		.col {
			h3 {
				line-height: 1;
				margin: 32px 0 26px;
			}
			p {
				line-height: 24px;
				padding-bottom: 90px;
			}
		}
	}
.more-detail {
	background-color: #f3f3f3;
	overflow: hidden;
	padding-bottom: 90px;
	h2 {
		height: 162px;
		line-height: 162px;
		border-bottom: 1px solid #fff;
	}
	.col-md-3 {
		height: 192px;
		padding-top: 54px;
		.b {
			margin-top: 30px;
			line-height: 1;
			display: block;
			margin-bottom: 18px;
		}
	}
}
.promise-server {
	height: 667px;
	background: url(../images/promise-server.jpg) no-repeat center center;
	color: #fff;
	overflow: hidden;
	h2 {
		margin-top: 150px;
		margin-bottom: 120px;
		line-height: 1;
	}
	span {
		display: inline-block;
		margin: 0 30px;
		em {
			display: block;
			text-align: center;
			font-size: 14px;
		}
		b {
			font-size: 28px;
			font-weight: 400;
		}
	}
}
@import "head";
@import "pros";
@import "foot";
@import "icons";
@import "icons-sprite";

